.main-container {
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  background-color: white;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.filtrate-bar {
  padding: 0 !important;
  margin-bottom: 15px;
}


.content {
  padding: 20px;
}

.content-title {
  padding: 10px 20px 5px;
  font-size: 16px;
  color: #333;
}

.axis-title {
  font-weight: normal;
  font-size: 18px;
  margin-top: 20px;
}

.axis-title img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  vertical-align: text-bottom;
}

.axis-content {
  position: relative;
  .axismain,
  #axismain {
    margin: 0 auto;
    width: 100%;
    height: 400px;
  }
}

.table-content {
  padding: 20px 0;
}

.export-button {
  float: right;
  margin-right: 22px;
}
